<!-- 
Project Name: 	    COVID-19 Care: Face Mask and Social Distancing Detection using Deep Learning
Author List:        Krish Mahadevan
Filename:           password_change_done.html
Functions:          No functions. The message displayed here is shown once the user updates his password and it is successful
Global Variables:   NA 
-->

{% extends 'layout.html' %}

{% block content %}

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been Updated.</p>
	</div>
</div>

{% endblock %}