<!-- 
Project Name: 	    COVID-19 Care: Face Mask and Social Distancing Detection using Deep Learning
Author List:        Krish Mahadevan
Filename:           password_reset_complete.html
Functions:          No functions. The message displayed here is shown once the user updates his password and gives the user the link to the login page
Global Variables:   NA 
-->

{% extends 'layout.html' %}


{% block content %}

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">Sign In</a> now.</p>
	</div>
</div>

{% endblock %}