<!-- 
Project Name: 	    COVID-19 Care: Face Mask and Social Distancing Detection using Deep Learning
Author List:        Krish Mahadevan
Filename:           password_reset_done.html
Functions:          No functions. This file is used sending an email to the user to reset their password. The email will be sent in the command prompt only
Global Variables:   NA 
-->

{% extends 'layout.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'homepage' %}">Return to home page</a></p>
	</div>
</div>

{% endblock %}