{% extends 'layout.html' %}

<!-- 
Project Name:       COVID-19 Care: Face Mask and Social Distancing Detection using Deep Learning
Author List:        Srivatsan Iyengar
Filename:           video_output.html
Functions:          No functions. This file represents the page where the user gets the output
                    for the video uploaded for mask detection
Global Variables:   NA 
-->

{% block content %}
{% load static %}
<div class="container text-center">
    <h1>Face Mask Detection Output</h1><br>
    <video preload="none" controls autoplay height="500" width="1000">
        <source src="{% static 'tp_movie.mp4' %}" type="video/mp4"></source>
        Video tag not supported!!
    </video>
</div>

{% endblock %}