{% extends 'layout.html' %}

{% block content %}
{% if number == 0 %}
<div class="container text-center px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <h1 class="display-4 text-center py-3">COVID-19 Care - Face Mask Detector</h1>
    <h2 class="text-success">Keep it up!! You are following social distancing</h2>
    <h4 class="text-success">You are now safe from the rampant Coronavirus!</h4>
    <div class="row">
        <div class="col">
            <br><h3>Social Distancing Output</h3><img src="{{sd_view}}" height="400" width="700">
        </div>
        <div class="col">
            <br><h3>Bird's Eye View</h3><img src="{{birds_eye_view}}" alt="" height="400" width="700">
        </div>
    </div>
    <br><br>
    <br><a href="{{sd_view}}" class="btn btn-primary" download>Download Results</a>
</div>


{% else %}

<div class="container text-center px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <h1 class="display-4 text-center py-3">COVID-19 Care - Face Mask Detector</h1>
    <h2 class="text-danger">Oh no!! You are not following social distancing</h2>
    <h4 class="text-danger">Please follow social distancing in public places to keep yourself and others safe from the rampant Coronavirus!</h4>
    <div class="row">
        <div class="col">
            <br><h3>Social Distancing Output</h3><img src="{{sd_view}}" height="400" width="550">
        </div>
        <div class="col">
            <br><h3>Bird's Eye View</h3><img src="{{birds_eye_view}}" alt="" height="400" width="550">
        </div>
    </div>
    <br><br>
    <br><a href="{{sd_view}}" class="btn btn-primary" download>Download Results</a>
</div>
{% endif %}
{% endblock %}